.main-heading,
.sub-heading {
	text-align: $center;
}

.text-container {
	width: $half;
	margin: $div-center;
}

.main-container {
	text-align: center;
	font-size: 2em;
	margin-top: 50px;
	width: $half;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.input-container {
	width:240px;
	margin: $div-center;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.lives-text {
	margin-top: 30px;
	font-size: 1.5em;
	text-align: $center;
}

.letter-printer {
	margin-top: 30px;
	font-size: 1.5em;
	text-align: $center;
	letter-spacing: 10px;
}

.game-image {
	margin:0 auto;
	width:500px;
	height:300px;
}

@media all and (max-width: 800px) {
	.text-container {
		width: $full;
	}
}